/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~jsoneditor/dist/jsoneditor.min.css";

.jsoneditor {
    height: 500px;
}

.chart-legend .legend-title-text {
    font-family: 'Roboto, sans-serif'!important;
  }

  body {
    font-family: 'Roboto, sans-serif'!important;
  }

  .chart-legend .legend-title{
    padding-top: 3px!important;
  }
  
.success-message {
  --mdc-snackbar-container-color: greenyellow;
}
.error-message {
  --mdc-snackbar-container-color: red;
}